:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --CORNFLOWER: #E7E9FC;
    --SLATE: #434455;
    --WHITE: #FFFFFF;
    --CLOUD: #F4F4FD;
    --OCEAN: #404BBF;
}

.container {
    width: 1158px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo span {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.menu-links a {
    color: var(--NAVY-BLUE);
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
    text-decoration: none;
}

.menu-links a:hover,
.menu-links a:focus
{
    color: var(--OCEAN);
}

.menu-links{
    display: flex;
    gap: 40px;
}

li {
    list-style-type: none;
}

.contact-details a {
    color: var(--SLATE, #434455);
    text-decoration: none;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.contact-details a:hover,
.contact-details a:focus {
    color: var(--OCEAN);
}

.contact-details {
    display: flex;
    gap: 40px;
}

body {
    font-family: "Roboto";
}

/* order-service class start */
.order-service {
    background-color: var(--NAVY-BLUE);
    text-align: center; 
    margin-bottom: 120px;
    padding: 188px 472px 292px;
}

h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
   
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 1.12px;
}

.button {
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE);
    padding: 16px 32px;
   
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
}

.button:hover {
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE)
}
/* end of order-service class */ 

/* solutions-list start class */
h3 {
    color: var(--NAVY-BLUE);
}

.solutions-list {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
}
/* end of solutions-list class */

/* works-list start */
.works-list {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
    justify-content: center;
}

.works {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
/* end of works-list */

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list li {
    text-align: center;
    
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-bottom: 120px;
}


/* main-footer class start */
.main-footer {
    background-color: var(--NAVY-BLUE);
    padding-top: 101.5px;
    padding-bottom: 100px;
    padding-left: 156px;
    margin-top: 120px;
}

.logo-footer span {
    color: var(--IRIS);
}

.logo-footer {
    color: var(--CLOUD);
    text-decoration: none;
    
}
.footer {
    color: var(--CLOUD, #F4F4FD);
   
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}
/* end of main-footer class */

/* PORTFOLIO PAGE!!! */

/* filter-buttons start*/
.filter-list {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 72px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.filter {
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    padding: 12px 24px;

    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);

    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;   
}

.filter:hover,
.filter:focus {
    color: var(--WHITE, #FFF);
    text-align: center;
    padding: 12px 24px;

    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10); 
}

/* end of filter buttons */

/* project cards start */
.card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 24px;
    padding-left: 156px;
}

.card-list li img {
    width: 100%;
}

.card-list li {
    width: 30%;

    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.caption {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    padding: 0px 16px;
    align-self: stretch;
}
/* end of project cards */